.fd-button 
    background: $BaseLow
    color: #000000
    font-size: 15px
    border: none
    text-align: center
    text-decoration: none
    display: inline-block    
    padding: 8px 25px;
    cursor: pointer;