/** Color
**** Light Theme
**/
//Base
BaseLow = #CCCCCC
BaseMediumLow = #999999
BaseMedium = #666666
BaseMediumHigh = #333333
BaseHigh = #000000
//Backup
// AltLow = #33FFFF
// AltMediumLow = #FFFF66
// AltMedium = #FFFF99
// AltMediumHigh = #FFFFCC
// AltHigh = #FFFFFF
//List
ListLow = #E6E6E6
ListMedium = #CCCCCC
ListAccentLow = #99C9EF
ListAccentMedium = #66AEE7
ListAccentHight = #4DA1E3

 